# Date: August 04 2018
# Extensions added to this file: porn
# ===============================================================
127.0.0.1 localhost
127.0.0.1 localhost.localdomain
127.0.0.1 local
255.255.255.255 broadcasthost
::1 localhost
::1 ip6-localhost
::1 ip6-loopback
fe80::1%lo0 localhost
ff00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
0.0.0.0 0.0.0.0

# Custom host records are listed here.


# End of custom host records.

0.0.0.0 batporno.com
0.0.0.0 coqporno.net
0.0.0.0 tukif.com
0.0.0.0 pornovore.fr
0.0.0.0 videtesboules.com
0.0.0.0 citronnemoi.com
0.0.0.0 bestamat.com
0.0.0.0 clitoris.fr
0.0.0.0 porc.com
0.0.0.0 castingsporno.fr
0.0.0.0 amateurisme.com
0.0.0.0 liliclub.com
0.0.0.0 jacquieetmicheltv.net
0.0.0.0 sexyloo.com
0.0.0.0 bobvoyeur.com
0.0.0.0 voissa.com
0.0.0.0 rabbitfinder.com
0.0.0.0 jexhib.com
0.0.0.0 xhamster.com
0.0.0.0 xvideos.com
0.0.0.0 redtube.com
0.0.0.0 youporn.com
0.0.0.0 porntube.com
0.0.0.0 xnxx.com
0.0.0.0 porndig.com
0.0.0.0 ixxx.com
0.0.0.0 xstarsnews.com
0.0.0.0 letagparfait.com
0.0.0.0 porn-star.fr
0.0.0.0 hotvideo.fr
0.0.0.0 union.fr
0.0.0.0 hot.tuxboard.com
0.0.0.0 chobix.fr
0.0.0.0 dorcel.comfr
0.0.0.0 tetu.com
0.0.0.0 tigeramateur.com
0.0.0.0 slutytube.eu
0.0.0.0 cam-exhib.fr
0.0.0.0 sexe-tv.biz
0.0.0.0 hentaifr.net
0.0.0.0 hentai-paradise.fr
0.0.0.0 sexeintime.com
0.0.0.0 lieuxcoquins.fr
0.0.0.0 bdsmclub.net
0.0.0.0 planculdujour.com
0.0.0.0 serialniqueur.fr
0.0.0.0 blogdefolie.com
0.0.0.0 mustvideos.com
0.0.0.0 18ans-erog.com
0.0.0.0 fizzygirl.com


